<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mandasur.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MandsaurApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".news.NewsBaseActiivty"
            android:label="@string/title_activity_news_base_actiivty"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".news.NewsDetailsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".news.NewsBaseActiivty" />
        </activity>
        <activity
            android:name=".news.NewsFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScrees"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".news.FiltredNewsListActivity"
            android:label="@string/title_activity_filtred_news_list"
            android:parentActivityName=".news.NewsBaseActiivty" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mandasur.app.news.NewsBaseActiivty" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".aboutus_contact.AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>
        <activity
            android:name=".news.buisness.BuisnessActivity"
            android:label="@string/title_activity_buisness" >
        </activity>
        <activity
            android:name=".news.NewsVideoActivity"
            android:label="@string/title_activity_news_video" >
        </activity>
        <activity
            android:name=".news.AdvertiseDetailActivity"
            android:label="@string/title_activity_advertise_detail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            >
        </activity>
    </application>

</manifest>
